@model ArtGalleryECommerce.Models.ViewModels.ProductViewModel

<div class="container full-width">
    <h3 class="section-title hidden">GALLERY</h3>
    <ul class="row gallery line-effect list-unstyled mb-0 shuffle" id="grid" style="position: relative; overflow: hidden; height: 1460.39px; transition: height 250ms ease-out 0s;">
        <!-- gallery -->
        @foreach (var item in Model.ViewModelActiveProducts)
        {


            <li class="col-md-6 col-lg-4 gallery shuffle-item filtered" data-groups="[&quot;@item.ProductType&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; transition: transform 250ms ease-out 0s, opacity 250ms ease-out 0s;">
                <figure class="gallery-item effect-bubba">
                    @*<img src="images/gallery1.jpg" alt="">*@
                    <img id="productImage-@item.ID" src="@item.Image" alt="Alternate Text" />
                    <figcaption>
                        <div class="hover-content">
                            <h2 id="productName-@item.ID" class="hover-title text-center text-white">@item.ProductName.ToUpper()</h2><!-- / hover-title -->
                            <p class="gallery-info text-center text-white">
                                <span id="productType-@item.ID">@item.ProductType</span> - <span id="productPrice-@item.ID">₺@item.Price</span><span hidden id="productArtist-@item.ID">@item.Artist.ToUpper()</span><span hidden id="productSize-@item.ID">@item.ProductSize</span>
                                <span class="gallery-icons">

                                    <a class="gallery-button" data-toggle="modal" onclick="modelChange('productName-@item.ID', 'productPrice-@item.ID', 'productType-@item.ID', 'productArtist-@item.ID', 'productSize-@item.ID', 'productImage-@item.ID')" data-target=".framed-product"><i class="fas fa-plus"></i></a>
                                    <a asp-controller="Home" asp-action="AddToCart" asp-route-productId="@item.ID" class="gallery-button"><i class="fas fa-shopping-cart"></i></a>
                                </span><!--/ gallery-icons -->
                            </p><!-- / gallery-info -->
                        </div><!-- / hover-content -->
                    </figcaption>
                </figure><!-- / gallery-item -->


            </li><!-- / gallery -->


        }
    </ul><!-- / gallery -->
</div><!-- / container -->
<!-- / gallery -->



<div class="modal fade product-modal framed-product" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div><!-- / modal-header -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row vcenter">
                        <div class="col-md-6">
                            <img id="proImage" src="#" alt="Alternate Text" />
                            @*<div id="product-slider" class="owl-carousel owl-theme carousel-full-nav owl-loaded owl-drag owl-hidden">

                                    <!-- / slide-one -->
                                    <!-- / slide-two -->
                                    <!-- / slide-three -->

                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-930px, 0px, 0px); transition: all 0s ease 0s; width: 1395px;">
                                            <div class="owl-item" style="width: 455px; margin-right: 10px;">
                                                <div class="slide one framed-product">
                                                </div>
                                            </div><div class="owl-item" style="width: 455px; margin-right: 10px;">
                                                <div class="slide two framed-product">
                                                </div>
                                            </div><div class="owl-item active" style="width: 455px; margin-right: 10px;">
                                                <div class="slide three framed-product">
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fas fa-long-arrow-alt-left"></i></button><button type="button" role="presentation" class="owl-next disabled"><i class="fas fa-long-arrow-alt-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div>
                                </div>*@<!-- / owl-carousel -->
                        </div><!-- / column -->
                        <div class="col-md-6">
                            <h4 id="proName" class="single-product-title text-primary">FRAMED ART</h4>
                            @*<h6 class="text-primary">FRAMED</h6>*@
                            @*<p>Aliquam ut lacus iaculis, scelerisque libero sit amet, ultricies dolor. Proin facilisis volutpat leo quis scelerisque. Fusce porttitor semper dolor, vel pulvinar est ultricies in. Suspendisse at mi sed diam facilisis accumsan. Etiam convallis viverra augue, eget scelerisque risus molestie</p>*@
                            <div class="product-info pb-3 pt-3">

                                <p class="mb-3"><i class="far fa-bookmark text-muted mr-1"></i> <b>Price: </b><span class="text-black" id="proPrice"><b>$79.99</b></span></p>

                                <p class="mb-3"><i class="far fa-folder-open text-muted mr-1"></i><b>Category: </b> <span class="text-black" id="proType"><b>Framed</b></span></p>

                                @*<p class="mb-3"><i class="far fa-smile text-muted mr-1"></i> Rating: <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i></p>*@

                                <p class="mb-3"><i class="text-muted mr-1"></i><b>Size: </b> <span class="text-black" id="proSize"><b>20x30</b></span></p>
                                @*<p class="mb-0 pt-1"><b>Select Quantity &amp; Size:</b></p>*@

                                @*<form class="form-inline">
                                        <input class="form-control qty m-2" type="number" value="1" id="number-input">

                                        <select class="form-control selector shop-option m-2" id="inline-form-select-1">
                                            <option value="1">S</option>
                                            <option value="2">M</option>
                                            <option value="3">L</option>
                                            <option value="4">XL</option>
                                        </select>
                                    </form>*@
                            </div><!-- / product-info -->
                        </div><!-- / column -->
                    </div><!-- / row -->
                </div><!-- / container-fluid -->
            </div><!-- / modal-body -->
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row vcenter">
                        <div class="col-md-4">
                            <p class="mb-0 text-white creator-info" id="proArtist"> <span><b>JOHN DOE</b></span>
                        </div><!-- / column -->

                        <div class="col-md-4">
                            <h3 class="text-center text-white mb-0 final-price" id="proPrice1">$29.99</h3>
                        </div><!-- / column -->

                        @*<div class="col-md-4 text-right">
                            <a asp-controller="Home" asp-action="AddToCart" asp-route-productID="" class="btn btn-primary m-2">ADD TO CART</a>
                        </div>*@<!-- / column -->
                    </div><!-- / row -->
                </div><!-- / container -fluid -->
            </div><!-- / modal-footer -->
        </div><!-- / modal-content -->
    </div><!-- / modal-dialog -->
</div>

<script>
    function modelChange(name, price, type, artist, size, image) {
        document.getElementById("proName").innerHTML = document.getElementById(name).textContent;
        document.getElementById("proPrice").innerHTML = document.getElementById(price).textContent;
        document.getElementById("proPrice1").innerHTML = document.getElementById(price).textContent;
        document.getElementById("proType").innerHTML = document.getElementById(type).textContent;
        document.getElementById("proArtist").innerHTML = document.getElementById(artist).textContent;
        document.getElementById("proSize").innerHTML = document.getElementById(size).textContent;
        document.getElementById("proImage").src = document.getElementById(image).src;

    }
</script>